.container {
  position: absolute;
  min-width: 600px;
  min-height: 600px;
}

.fixed {
  width: 30%;
  height: 30%;
  background: darksalmon;
  margin-right: 0;
  margin-top: 0;
}

.move {
  width: 30%;
  height: 30%;
  background: darkslateblue;
  position: relative;
  float: left;
}

.cardBack {
  width: 43px;
  height: 44px;
  background: url('./jeu.jpg') -91px 0;
}

.card-1 {
  width: 46px;
  height: 44px;
  background: url('./jeu.jpg') 0 0;
}

.card-2 {
  width: 46px;
  height: 44px;
  background: url('./jeu.jpg') 0 0;
}

.card-3 {
  width: 46px;
  height: 44px;
  background: url('./jeu.jpg') 0 0;
}

.card-4 {
  width: 46px;
  height: 44px;
  background: url('./jeu.jpg') 0 0;
}

.card-5 {
  width: 46px;
  height: 44px;
  background: url('./jeu.jpg') 0 0;
}

.card-6 {
  width: 46px;
  height: 44px;
  background: url('./jeu.jpg') 0 0;
}

.card-7 {
  width: 46px;
  height: 44px;
  background: url('./jeu.jpg') 0 0;
}

.card-8 {
  width: 46px;
  height: 44px;
  background: url('./jeu.jpg') 0 0;
}
