
.container{
    position: absolute;
    min-width: 600px;
    min-height:600px;



}
.fixed{
    width: 30%;
    height: 30%;
    background: darksalmon;
    margin-right: 0px;
    margin-top: 0px;
}
.move{
    width: 30%;
    height: 30%;
    background: darkslateblue; 
    position: relative;
    float: left;}

.cardFront{
    width:200px;
    height: 200px;
    background: crimson;
    margin-right: 0px;
    margin-top: 0px;
  

} 

.cardBack{
    width: 200px;
    height: 200px;
    background: darkgreen;
    margin-right: 0px;
    margin-top: 0px;
  

} 


 
 

